.boardContainer {
	display: grid;
	flex: 0 1 350px;
	gap: 5px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas:
		"clear clear divide multiply"
		"seven eight nine subtract"
		"four five six add"
		"one two three equals"
		"zero zero decimal equals";
}
.button {
	font-size: 1.7rem;
	background-color: var(--main-color);
	cursor: pointer;
	color: white;
	border-radius: 5px;
	border: none;
	&:hover {
		background-color: var(--main-hover);
	}
}
#equals {
	background-color: var(--equals-color);
	color: var(--secondary-color);
	&:hover {
		background-color: var(--equals-hover-color);
	}
}
#clear {
	background-color: var(--clear-color);
	color: white;
	&:hover {
		background-color: var(--clear-hover-color);
	}
}
.display-container {
	position: relative;
	flex: 1 0 70px;
	padding: 25px 5px;
	background-color: var(--main-color);
	border-radius: 5px;
}
#display {
	position: relative;
	top: 100%;
	transform: translateY(-100%);
	margin: 0;
	width: inherit;

	font-size: 4rem;
	word-break: break-all;
	text-align: end;
	vertical-align: bottom;
}
#calculator {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	gap: 5px;
	background-color: var(--secondary-color);
	padding: 5px;
	border-radius: 8px;
	margin: 0 auto;
	min-width: 300px;
	max-width: 400px;
	height: 600px;
}

.operation {
	background: var(--operation-color);
	&:hover {
		background-color: var(--operation-hover-color);
	}
}
.App {
	padding: 0 10px;
	height: 100vh;
}

@media screen and (max-width: 400px) {
	.App {
		padding: 0;
	}
	#calculator {
		padding: 5px 0;
		width: 98%;
		height: 90%;
	}
}
