@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
	font-family: "Roboto";
	font-weight: 600;

	color: rgba(255, 255, 255, 0.87);
	background-color: #272727;

	--equals-color: #c6eeff;
	--equals-hover-color: #e8f9ff;

	--clear-color: #b71c1c;
	--clear-hover-color: #d32f2f;

	--operation-dark: #005e53;
	--operation-main: #00796b;
	--operation-light: #009688;

	--main-color: #2c3e50;
	--main-hover: #4a647c;
	--secondary-color: #34495e;
}
* {
	font-size: 1.1rem;
	padding: 0;
	margin: 0;
}
